{% extends 'base.html' %}

{% block content %}
<div class="container-product">
    <div class="row">
      {% for product in products %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{ product.images.first.image }}" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text" style="font-size: 0.9rem;">{{ product.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'product' product.id %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-sm btn-outline-secondary">В корзину</a>
                </div>
                <small class="text-muted">{{ product.price }} $.</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
