{% extends 'base.html' %}

{% block title %}
    Detail product
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="text-center">
            <h1>{{ product.name }}</h1>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="card-img-top" src="{{ product.images.first.image }}" alt="{{ product.name }}">
            </div>
            <div class="col-md-6">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                {% for specification in product.specifications.all %}
                <p>{{ specification.name }} : {{ specification.value }}</p>
                {% endfor %}
                <p class="card-text"><strong>Price:</strong> {{ product.price }} $.</p>
                <a href="{% url 'add_to_cart' product.id %}" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
            </div>
        </div>
    </div>
{% endblock %}
